extends layout

block content
    .page-header
        div(id="chart" style="width:100%; height:400px;")

    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src="http://code.highcharts.com/highcharts.js")
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.7.1.min.js")
    script.
        var socket = io();
        var chart;
        var data = !{JSON.stringify(starter)}; 
        var processed_json = new Array();
        for (i = 0; i < data.length; i++) {
            processed_json.push([data[i].time, parseInt(data[i].wind_speed)]);
        }
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart', 
                defaultSeriesType: 'spline',
                events: {
                    load: function() {
                        socket.on('mqtt', function (time, data) {
                            var series = chart.series[0], shift = series.data.length > 30;
                            chart.series[0].addPoint([time, data], true, shift);
                        });
                    }
                }
            },
            rangeSelector : {
                selected : 100
            },
            title: {
                text: 'Weather station windspeed'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 20 * 1000
            },
            yAxis: {
                minPadding: 0.2,
                maxPadding: 0.2,
                title: {
                    text: 'Wind speed mph',
                    margin: 80
                }
            },
            series: [{
                name: 'Wind Speed',
                data: processed_json
            }]
        });