extends layout

block content
    .navbar-header
    div.spacer
        .collapse.navbar-collapse
            ul.nav.navbar-nav(role="tablist")
                li.active
                    a(href="#home" role="tab" data-toggle="tab") Excel
                li
                    a(href="#profile" role="tab" data-toggle="tab") xml/json
        div.spacer
            .tab-content.search-tabs-content
                .tab-pane.active(id="home")
                    include partials/excelform.pug
                .tab-pane(id="profile")
                    include partials/xmlJsonForm.pug 
                    

    //- #downloadForm
    //-     include partials/excelform.pug


    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
    script(src="controllers/readingController.js")

    //- .search-tabs-wrapper
    //-     ul.nav.nav-tabs(role="tablist")
    //-         li.active
    //-             a(href="#home" role="tab" data-toggle="tab") PROPERTY FOR SALE
    //-         li
    //-             a(href="#profile" role="tab" data-toggle="tab") PROPERTY FOR RENT
    //-     .tab-content.search-tabs-content
    //-         .tab-pane.active(id="home") At vero eos et accusamus et iusto odio dignissimos ducimus
    //-         .tab-pane(id="profile") accusamus et iusto odio dignissimos ducimus